.background{
/*-fx-background-color: #f40b59;*/
-fx-background-color: #feccfd;
}

.btn{
-fx-background-color: #06cbe6;
}

.btn:hover{
/*-fx-background-color: #ffceff;*/
-fx-background-color: #f40b59;
}

.logo{
 -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
}

.loginFailed{
-fx-background-color: white;
-fx-border-color: black;
}

