.centerBackground{
-fx-background-image: url("/img/background.png");
}

.btnAddTask{
/*-fx-background-radius: 50em;
-fx-border-radius: 50;
-fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);*/
 -fx-background-radius: 5em;
  -fx-min-width: 50px;
  -fx-min-height: 50px;
  -fx-max-width: 50px;
 -fx-max-height: 50px;
};