.centerBackground{
-fx-background-color: #faf0f0;
}

.leftVBox{
-fx-background-color:#BFD8B8;
}

.rightVBox{
-fx-background-color: #faf0f0;
}

.bottomVBox{
-fx-background-color:#faf0f0;
}

.clock{
-fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 10, 0.0, 0, 1);
-fx-color: white;
}

.btnAddTask{
-fx-background-color: white;
 -fx-background-radius: 5em;
  -fx-min-width: 50px;
  -fx-min-height: 50px;
  -fx-max-width: 50px;
 -fx-max-height: 50px;
}

.btnAddTask:hover{
-fx-cursor:hand;
-fx-padding: 3 1 1 3;
}

.btnLists{
-fx-border: none;
-fx-cursor:hand;
-fx-background-color:#fcf2f2;

}

.btnLists:hover{
-fx-padding: 3 1 1 3;
}


.btnDetails{
-fx-background-color: #19456B;
-fx-border: none;
-fx-cursor:hand;
}

.btnDetails:hover{
-fx-background-color:  #11698E;
}


 /***************
  LIST STYLE
  ***************/


.list-cell{
-fx-background-color: white;
-fx-font-size: 17px;
-fx-text-fill: black;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
   -fx-background-color:#19456B;
    -fx-text-fill: white;
    -fx-font-weight:bold;
}


.list-cell:filled:hover {
    -fx-background-color: #11698E;
    -fx-text-fill: white;
}











