.background{
/*-fx-background-color: #feccfd;*/
-fx-background-color: #faf0f0; /*#fbebfc;*/
}

.btn{
-fx-background-color: #06cbe6;
-fx-cursor:hand;
}

.btn:hover{
-fx-background-color: #f40b59;
}

.logo{
 -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
}

.heading{
-fx-font-family:serif;
-fx-font-weight:bold;
-fx-font-size:30.0px;
}

.subheading{
-fx-font-family:serif;
-fx-font-size:14.0px;
-fx-color:black;
}

.errorMessages{
-fx-font-size:9.0px;
}



