.gridPane{
-fx-background-color: #d0c1de;
-fx-background-color: #E7D9EA;
-fx-background-color: #418fb0;
-fx-background-color: #BFD8B8;
}

.btnCreate{
-fx-background-color: #19456B;
-fx-border: none;
-fx-cursor:hand;
}

.btnCreate:hover{
-fx-background-color:  #11698E;
}

.btnCancel{
-fx-background-color: white;
-fx-border: none;
-fx-cursor:hand;
}

.btnCancel:hover{
-fx-background-color:#ccc8c8;
}

.text-field {
  -fx-border-color: #7F7C82;
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
}

.btnAddFile{
-fx-background-color: white;
-fx-border: none;
-fx-cursor:hand;
}

.btnAddFile:hover{
-fx-text-fill: black;
}

/*******************
CHOICEBOX
********************/
.choice-box {
  -fx-background-color: #F3F1F5;
  -fx-mark-color: darkred; // arrow color
  -fx-font-size: 15px;
}
.choice-box .context-menu { -fx-background-color: white; }
.choice-box .menu-item:focused { -fx-background-color: #F3F1F5; }
.choice-box .menu-item > .label { -fx-text-fill: darkred; -fx-font-size: 15px; }
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
