.gridPane{
-fx-background-color: #faf0f0;
}

.btnCreate{
-fx-background-color: #06cbe6;
-fx-border: none;
-fx-cursor:hand;
}

.btnCreate:hover{
-fx-background-color: #f40b59;
}

.btnCancel{
-fx-background-color: white;
-fx-border: none;
-fx-cursor:hand;
}

.btnCancel:hover{
-fx-background-color:#ccc8c8;
}

.text-field {
  -fx-border-color: grey;
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
}

/*******************
CHOICEBOX
********************/
.choice-box {
  -fx-background-color: #d7edd1;
  -fx-mark-color: darkred; // arrow color
}
.choice-box .context-menu { -fx-background-color: white; }
.choice-box .menu-item:focused { -fx-background-color: #d7edd1; }
.choice-box .menu-item > .label { -fx-text-fill: darkred; -fx-font-size: 15px; }
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
